.community-members {
  column-gap: var(--space-xl);
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
  max-inline-size: 75ch;
  row-gap: var(--space-md);
}

.community-members .community-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

@media (width >= 960px) {
  .community-members {
    grid-template-columns: repeat(2, 1fr);
  }
}
