name: Lint and build

on:
  pull_request:
    branches: [main]

jobs:
  lint-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          cache: npm
      - name: Install dependencies
        run: npm install
      - name: Lint files
        run: npm run lint
      - name: Build site
        run: npm run build
